# WeRateDogs Trends and Findings

> __Kushal Borkar <br>
> Sept, 2019__

# Introduction of the topic and dataset

Genuine information and data infrequently comes clean. Utilizing Python and its libraries, we assemble data from an assortment of sources and in a variety of formats, survey its quality and tidiness, then clean it; a procedure otherwise called information wrangling. 

The dataset that we will wrangle (and analyze and visualize) is the tweet document of Twitter client [@dog_rates](https://twitter.com/dog_rates), otherwise called [WeRateDogs](https://twitter.com/dog_rates). WeRateDogs is a Twitter account that rates individuals' dogs with a humorous remark about the dog. These ratings quite often have a denominator of 10. The numerators, however? Quite often more prominent than 10. 11/10, 12/10, 13/10, and so forth. Why? Since ["they're great dogs Brent"](https://knowyourmeme.com/images/theyre-great mutts brent). WeRateDogs has over 7.5 million devotees and has gotten global media inclusion. 

We collect the tweets which contains fundamental tweet information (tweet ID, timestamp, content, and so forth.) for all 5000+ of their tweets as they remained on August 1, 2017.

---

# Data Wrangling Process

After importing the necessary libraries, we will begin the data wrangling process, which is divided into three major steps:
- First, we will gather the necessary data from different file formats and sources, and load it into dataframes
- Secondly, we assess the data to find any inaccuracies or errors within the dataframes, both quality-related and tidiness-related
- Lastly, we perform cleaning tasks for each of the identified errors, in order to end up with a high-quality, tidy dataset

In [1]:
# Import the libraries needed for this project
import pandas as pd
import numpy as np

import requests
import tweepy
import json

import time
from IPython.display import clear_output
from IPython.display import HTML

import os
import re

import matplotlib.pyplot as plt
from matplotlib import cm
%matplotlib inline

import seaborn as sns
sns.set(style="darkgrid")

# set the option to display the full string from a pandas DataFrame
pd.options.display.max_rows
pd.set_option('display.max_colwidth', -1)

## Part I. Gathering the Data

1. ```twitter_archive```: The WeRateDogs Twitter file, which is given by the Udacity Course and I use pd.read_csv() to import them into dataframe. 

2. ```image_predictions```: The tweet image prediction, i.e., what breed of dog (or different objects, animal, and so on.) is available in each tweet as per a neural system. This record ('image_predictions.tsv') is facilitated on Udacity's servers and downloaded programmatically utilizing the python library and the provided URL. 

3. ```tweet_data```: Using the tweet IDs in the WeRateDogs Twitter file, query the Twitter API for each tweet's JSON data utilizing Python's Tweepy library and store each tweet's whole set of JSON data in a file called 'tweet_json.txt'. Each tweet's JSON data is kept in touch with its line.

#### 1) WeRateDogs Twitter Archive
> The WeRateDogs Twitter archive is provided as the starting point, and is download manually from the Udacity server: twitter_archive_enhanced.csv

In [2]:
#Tweet text max 140 charectors plus 3 for pandas
pd.options.display.max_colwidth = 143

In [3]:
# WeRateDogs Twitter archive file obtained as a csv file. Pandas dataframe created from csv file.
twitter_archive_df = pd.read_csv('twitter-archive-enhanced.csv')

In [4]:
# Exploration of data types and missing data.
twitter_archive_df.info()

# Exploration of data in file
twitter_archive_df.head(2)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
tweet_id                      2356 non-null int64
in_reply_to_status_id         78 non-null float64
in_reply_to_user_id           78 non-null float64
timestamp                     2356 non-null object
source                        2356 non-null object
text                          2356 non-null object
retweeted_status_id           181 non-null float64
retweeted_status_user_id      181 non-null float64
retweeted_status_timestamp    181 non-null object
expanded_urls                 2297 non-null object
rating_numerator              2356 non-null int64
rating_denominator            2356 non-null int64
name                          2356 non-null object
doggo                         2356 non-null object
floofer                       2356 non-null object
pupper                        2356 non-null object
puppo                         2356 non-null object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Phineas. He's a mystical boy. Only ever appears in the hole of a donut. 13/10 https://t.co/MgUWQ76dJU,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643555336193/photo/1,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","This is Tilly. She's just checking pup on you. Hopes you're doing ok. If not, she's available for pats, snugs, boops, the whole bit. 13/10 ...",NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421306343426/photo/1,13,10,Tilly,None,None,None,None

#### 2) Tweet Image Predictions
> This file contains the tweet image predictions, i.e., what breed of dog (or other object, animal, etc.) is present in each tweet according to a neural network. This file is also hosted on Udacity's servers and is downloaded programmatically using the Requests library and the following URL: https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv

In [5]:
# downloading image_predictions.tsv file programatically
url = "https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv"
response = requests.get(url)

#  HTTP status code 200 indicates the request has succeeded 
file_images = url.split('/')[-1]

with open(os.path.join('./', file_images), mode = 'wb') as file:
    file.write(response.content)

In [6]:
# read image predictions file into a DataFrame
image_predictions_df = pd.read_csv(file_images, sep = '\\t', engine = 'python')

# Exploration of data types and missing fields.
image_predictions_df.info()

# Exploration of data in file
image_predictions_df.head(3)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 12 columns):
tweet_id    2075 non-null int64
jpg_url     2075 non-null object
img_num     2075 non-null int64
p1          2075 non-null object
p1_conf     2075 non-null float64
p1_dog      2075 non-null bool
p2          2075 non-null object
p2_conf     2075 non-null float64
p2_dog      2075 non-null bool
p3          2075 non-null object
p3_conf     2075 non-null float64
p3_dog      2075 non-null bool
dtypes: bool(3), float64(3), int64(2), object(4)
memory usage: 152.1+ KB

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True

#### 3) Twitter API
> Query the Twitter API using Python's Tweepy library to get the entire set of JSON data for each of the tweets in the WeRateDogs Twitter archive. Each tweet's JSON data is written to its own line in a file called tweet_json.txt file.

__Personal Twitter API keys, Secrets, and Tokens__

In [7]:
consumer_key = ''
consumer_secret = ''
access_token = ''
access_secret = ''

In [8]:
# Create the Twitter API object and set rate limit params

auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_secret)

api = tweepy.API(auth_handler = auth,
                 parser = tweepy.parsers.JSONParser(),
                 wait_on_rate_limit = True,
                 wait_on_rate_limit_notify = True)

__Download tweets__

In [9]:
# Creating list of tweet ids
tweet_id = twitter_archive_df['tweet_id']
len(list(tweet_id))

2356

In [10]:
#Investigating the first tweet for information available.
tweet = api.get_status(tweet_id[0])
tweet

{'created_at': 'Tue Aug 01 16:23:56 +0000 2017',
 'id': 892420643555336193,
 'id_str': '892420643555336193',
 'text': "This is Phineas. He's a mystical boy. Only ever appears in the hole of a donut. 13/10 https://t.co/MgUWQ76dJU",
 'truncated': False,
 'entities': {'hashtags': [],
  'symbols': [],
  'user_mentions': [],
  'urls': [],
  'media': [{'id': 892420639486877696,
    'id_str': '892420639486877696',
    'indices': [86, 109],
    'media_url': 'http://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg',
    'media_url_https': 'https://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg',
    'url': 'https://t.co/MgUWQ76dJU',
    'display_url': 'pic.twitter.com/MgUWQ76dJU',
    'expanded_url': 'https://twitter.com/dog_rates/status/892420643555336193/photo/1',
    'type': 'photo',
    'sizes': {'thumb': {'w': 150, 'h': 150, 'resize': 'crop'},
     'medium': {'w': 540, 'h': 528, 'resize': 'fit'},
     'small': {'w': 540, 'h': 528, 'resize': 'fit'},
     'large': {'w': 540, 'h': 528, 'resize': 'fit'}}}]},
 'extended_entities': {'media': [{'id': 892420639486877696,
    'id_str': '892420639486877696',
    'indices': [86, 109],
    'media_url': 'http://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg',
    'media_url_https': 'https://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg',
    'url': 'https://t.co/MgUWQ76dJU',
    'display_url': 'pic.twitter.com/MgUWQ76dJU',
    'expanded_url': 'https://twitter.com/dog_rates/status/892420643555336193/photo/1',
    'type': 'photo',
    'sizes': {'thumb': {'w': 150, 'h': 150, 'resize': 'crop'},
     'medium': {'w': 540, 'h': 528, 'resize': 'fit'},
     'small': {'w': 540, 'h': 528, 'resize': 'fit'},
     'large': {'w': 540, 'h': 528, 'resize': 'fit'}}}]},
 'source': '<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>',
 'in_reply_to_status_id': None,
 'in_reply_to_status_id_str': None,
 'in_reply_to_user_id': None,
 'in_reply_to_user_id_str': None,
 'in_reply_to_screen_name': None,
 'user': {'id': 4196983835,
  'id_str': '4196983835',
  'name': 'WeRateDogs™',
  'screen_name': 'dog_rates',
  'location': '「 DM YOUR DOGS 」',
  'description': 'Your Only Source For Professional Dog Ratings Instagram and Facebook ➪ WeRateDogs partnerships@weratedogs.com ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀',
  'url': 'https://t.co/N7sNNHAEXS',
  'entities': {'url': {'urls': [{'url': 'https://t.co/N7sNNHAEXS',
      'expanded_url': 'http://weratedogs.com',
      'display_url': 'weratedogs.com',
      'indices': [0, 23]}]},
   'description': {'urls': []}},
  'protected': False,
  'followers_count': 8389716,
  'friends_count': 14,
  'listed_count': 6541,
  'created_at': 'Sun Nov 15 21:41:29 +0000 2015',
  'favourites_count': 143309,
  'utc_offset': None,
  'time_zone': None,
  'geo_enabled': True,
  'verified': True,
  'statuses_count': 10876,
  'lang': None,
  'contributors_enabled': False,
  'is_translator': False,
  'is_translation_enabled': False,
  'profile_background_color': '000000',
  'profile_background_image_url': 'http://abs.twimg.com/images/themes/theme1/bg.png',
  'profile_background_image_url_https': 'https://abs.twimg.com/images/themes/theme1/bg.png',
  'profile_background_tile': False,
  'profile_image_url': 'http://pbs.twimg.com/profile_images/1112594177961844736/qQK8NJT-_normal.jpg',
  'profile_image_url_https': 'https://pbs.twimg.com/profile_images/1112594177961844736/qQK8NJT-_normal.jpg',
  'profile_banner_url': 'https://pbs.twimg.com/profile_banners/4196983835/1565965307',
  'profile_link_color': 'F5ABB5',
  'profile_sidebar_border_color': '000000',
  'profile_sidebar_fill_color': '000000',
  'profile_text_color': '000000',
  'profile_use_background_image': False,
  'has_extended_profile': False,
  'default_profile': False,
  'default_profile_image': False,
  'following': False,
  'follow_request_sent': False,
  'notifications': False,
  'translator_type': 'none'},
 'geo': None,
 'coordinates': None,
 'place': None,
 'contributors': None,
 'is_quote_status': False,
 'retweet_count': 7917,
 'favorite_count': 37068,
 'favorited': False,
 'retweeted': False,
 'possibly_sensitive': False,
 'possibly_sensitive_appealable': False,
 'lang': 'en'}

In [11]:
# Get a list of tweet_ids from the enhanced twitter archive to use for 
# downloading with the Twitter API

from IPython.display import clear_output

# Iterate over tweet_ids to obtain favorites and retweet count. Then append these has dicts into df_list.
df_list = []

# Any tweet_ids not found by API, are appended to e_list
e_list = []

query_success_count = 0

for id in tweet_id:
    try:
        # get the start time of query
        start_time = time.time()
        # query each id using get_status
        page = api.get_status(id, tweet_mode = 'extended')
        favorites = page['favorite_count']
        retweet_count = page['retweet_count']
        df_list.append({'tweet_id': int(id),
                        'favorite_count': int(favorites),
                        'retweet_count': int(retweet_count)
                       })
        # count the number of successes in querying the status and recording its data
        query_success_count += 1
        end_time = time.time()
        clear_output()
        print('Query No.:',query_success_count)
        print('Query for id {}, No. of Favorites counts: {} \nNo. of times retweeted: {} is successful.\nTime taken (s): {}'.format(id, favorites, retweet_count, end_time-start_time))
    
    except Exception as e:
        e_list.append(id)
        clear_output()
        print('Query for id {} unsuccessful. \nError recorded in error_list'.format(id))

clear_output()
print('Query completed.')

Query completed.

In [12]:
# check the number of successes
query_success_count

2331

In [13]:
# Analysis of first 5 tweets to ensure iteration has worked correctly
df_list[:5]

[{'tweet_id': 892420643555336193,
  'favorite_count': 37068,
  'retweet_count': 7917},
 {'tweet_id': 892177421306343426,
  'favorite_count': 31900,
  'retweet_count': 5883},
 {'tweet_id': 891815181378084864,
  'favorite_count': 24012,
  'retweet_count': 3884},
 {'tweet_id': 891689557279858688,
  'favorite_count': 40398,
  'retweet_count': 8066},
 {'tweet_id': 891327558926688256,
  'favorite_count': 38618,
  'retweet_count': 8751}]

__Save JSON data to file__

In [14]:
# With the data collected, create a pandas dataframe
json_tweets_df = pd.DataFrame(df_list, columns = ['tweet_id', 'favorite_count', 'retweet_count'])

In [15]:
# Save a copy of the data to a txt file for future reference as requested by the project
json_tweets_df.to_csv('tweet_json.txt',encoding='utf-8',index=False)

In [16]:
# Created a csv file in order to download and open without issues in Excel for visual inspection
json_tweets_df.to_csv('tweet_json.csv',encoding='utf-8',index=False)

In [17]:
json_tweets_df.head()

             tweet_id  favorite_count  retweet_count
0  892420643555336193           37068           7917
1  892177421306343426           31900           5883
2  891815181378084864           24012           3884
3  891689557279858688           40398           8066
4  891327558926688256           38618           8751

___

## Part II. Assessing the Data

**In this key section - Assess the datasets with the following end result in mind - We want "only original ratings that have images, _no retweets, be retained_."** 

#### Visually with Excel and Pandas    

During the gathering stage, each of the three datasets were opened in pandas with df.head() and df.info() in order to get a feel for the datasets.

The csv files for each dataset were downloaded and opened in Excel. The dataset with around 2500 rows was manageable in Excel and using the filters function gave a good feel of the data inside each of the three datasets. From Excel it was quickly identified the many incorrect names in the dataset for the dogs and the strange rating scores being used for both denominator when you would only expect 10 and for the numerator.

After gathering each of the above pieces of data, the quality of data is surveyed against dimensions or criteria concerning the substance: completeness, validity, legitimacy, precision and consistency. 

The tidiness of data is evaluated concerning the structure as per the guidelines characterized by Hadley Wikham.

In [18]:
# Load the data gathered data files
archive = pd.read_csv('twitter-archive-enhanced.csv')
predictions = pd.read_csv('image-predictions.tsv', sep = '\\t', engine = 'python')
json_data = pd.read_csv('tweet_json.csv')

### archive

In [19]:
archive.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
tweet_id                      2356 non-null int64
in_reply_to_status_id         78 non-null float64
in_reply_to_user_id           78 non-null float64
timestamp                     2356 non-null object
source                        2356 non-null object
text                          2356 non-null object
retweeted_status_id           181 non-null float64
retweeted_status_user_id      181 non-null float64
retweeted_status_timestamp    181 non-null object
expanded_urls                 2297 non-null object
rating_numerator              2356 non-null int64
rating_denominator            2356 non-null int64
name                          2356 non-null object
doggo                         2356 non-null object
floofer                       2356 non-null object
pupper                        2356 non-null object
puppo                         2356 non-null object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

**NOTES**:

> The ```info()``` method reveals several quality and tidiness issues:
> - There are 181 retweets (**retweeted_status_id**, **retweeted_status_user_id**, **retweeted_status_timestamp**)
> - There are 78 replies (**in_reply_to_status_id**, **in_reply_to_user_id**)
> - There are 2297 tweets with **expanded_urls** (links to images) indicating 59 tweets with missing data
> - The **timestamp** field is in string format (object)
> - There are 4 columns for dog stages (**doggo**, **floofer**, **pupper**, **puppo**)
> - The columns related to retweets are not applicable for original tweets
> - The columns related to replies are not applicable for original tweets

In [20]:
print("Data type for timestamp:  " + str(type(archive.timestamp[0])))

Data type for timestamp:  <class 'str'>

In [21]:
print("Duplicated:  {}".format(sum(archive.duplicated())))

Duplicated:  0

In [22]:
archive.head()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Phineas. He's a mystical boy. Only ever appears in the hole of a donut. 13/10 https://t.co/MgUWQ76dJU,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643555336193/photo/1,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","This is Tilly. She's just checking pup on you. Hopes you're doing ok. If not, she's available for pats, snugs, boops, the whole bit. 13/10 ...",NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421306343426/photo/1,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Archie. He is a rare Norwegian Pouncing Corgo. Lives in the tall grass. You never know when one may strike. 12/10 https://t.co/wUnZ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181378084864/photo/1,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Darla. She commenced a snooze mid meal. 13/10 happens to the best of us https://t.co/tD36da7qLQ,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557279858688/photo/1,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","This is Franklin. He would like you to stop calling him ""cute."" He is a very fierce shark and should be respected as such. 12/10 #BarkWeek ...",NaN,NaN,NaN,"https://twitter.com/dog_rates/status/891327558926688256/photo/1,https://twitter.com/dog_rates/status/891327558926688256/photo/1",12,10,Franklin,None,None,None,None

In [23]:
archive.tail()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
2351,666049248165822465,NaN,NaN,2015-11-16 00:24:50 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Here we have a 1949 1st generation vulpix. Enjoys sweat tea and Fox News. Cannot be phased. 5/10 https://t.co/4B7cOc1EDq,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666049248165822465/photo/1,5,10,None,None,None,None,None
2352,666044226329800704,NaN,NaN,2015-11-16 00:04:52 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is a purebred Piers Morgan. Loves to Netflix and chill. Always looks like he forgot to unplug the iron. 6/10 https://t.co/DWnyCjf2mx,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666044226329800704/photo/1,6,10,a,None,None,None,None
2353,666033412701032449,NaN,NaN,2015-11-15 23:21:54 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Here is a very happy pup. Big fan of well-maintained decks. Just look at that tongue. 9/10 would cuddle af https://t.co/y671yMhoiR,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666033412701032449/photo/1,9,10,a,None,None,None,None
2354,666029285002620928,NaN,NaN,2015-11-15 23:05:30 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is a western brown Mitsubishi terrier. Upset about leaf. Actually 2 dogs here. 7/10 would walk the shit out of https://t.co/r7mOb2m0UI,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666029285002620928/photo/1,7,10,a,None,None,None,None
2355,666020888022790149,NaN,NaN,2015-11-15 22:32:08 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Here we have a Japanese Irish Setter. Lost eye in Vietnam (?). Big fan of relaxing on stair. 8/10 would pet https://t.co/BLDqew2Ijj,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666020888022790149/photo/1,8,10,None,None,None,None,None

**NOTES**:
<blockquote>
The head() and tail() methods show us several issues:

*Quality*:


- Some of the rows from the tail() output above have invalid strings in the **name column**, e.g. "a", "an", "in".
- Values of "None" in the **name** column.

</blockquote>

In [24]:
archive['name'].value_counts().head(30)

None       745
a           55
Charlie     12
Cooper      11
Lucy        11
Oliver      11
Lola        10
Penny       10
Tucker      10
Winston      9
Bo           9
Sadie        8
the          8
Bailey       7
an           7
Daisy        7
Buddy        7
Toby         7
Jax          6
Scout        6
Dave         6
Koda         6
Bella        6
Leo          6
Rusty        6
Oscar        6
Stanley      6
Milo         6
Jack         6
Phil         5
Name: name, dtype: int64

**NOTES:**
> It looks like the dog names are all capitalized, so words that begin in lowercase are probably not names, like "a", "the" and "an".

In [25]:
# list all names that are NOT capitalized
err_names_mask = archive.name.str.contains('^[a-z]', regex = True)
archive[err_names_mask].name.value_counts().sort_index()

a               55
actually         2
all              1
an               7
by               1
getting          2
his              1
incredibly       1
infuriating      1
just             4
life             1
light            1
mad              2
my               1
not              2
officially       1
old              1
one              4
quite            4
space            1
such             1
the              8
this             1
unacceptable     1
very             5
Name: name, dtype: int64

In [26]:
len(archive[err_names_mask])

109

No. of non-capitalized words from the **name** column = 109<br>
None of these 109 words are a valid name.

In [27]:
# number of tweets with missing urls
sum(archive['expanded_urls'].isna())

59

In [28]:
# how many tweets with missing urls are replies or retweets?
sum(archive['expanded_urls'].isna() & \
    (archive['in_reply_to_status_id'].notnull() | \
     archive['retweeted_status_id'].notnull()))

56

In [29]:
# display tweets that are missing urls, and are NOT replies and are NOT retweets
mask = archive['expanded_urls'].isna() & \
       archive['in_reply_to_status_id'].isna() & \
       archive['retweeted_status_id'].isna()
archive[mask][['tweet_id', 'text', 'expanded_urls']]

,tweet_id,text,expanded_urls
375,828361771580813312,Beebop and Doobert should start a band 12/10 would listen,NaN
707,785515384317313025,"Today, 10/10, should be National Dog Rates Day",NaN
1445,696518437233913856,Oh my god 10/10 for every little hot dog pupper,NaN

<blockquote>

* Of the 59 tweets that are missing data in expanded_urls, 56 are replies or retweets. The remaining 3 tweets (at indexes 375, 707 and 1445) with NaN in the expanded_urls column all have valid ratings but no urls within the text column.

* The question now is whether these tweets are part of the predictions or json_data tables.
</blockquote>

In [30]:
# are any of these tweets in the predictions table?
tweet_set = [828361771580813312, 785515384317313025, 696518437233913856]
find_tweet_id = predictions['tweet_id'].isin(tweet_set)
sum(find_tweet_id)

0

- For reasons unknown, these 3 tweets are NOT in the predictions table, and despite the fact that they __are__ in the json_data table, there was __no__ image URL separated from the JSON data.

In [31]:
archive[['rating_numerator', 'rating_denominator']].describe()

       rating_numerator  rating_denominator
count       2356.000000         2356.000000
mean          13.126486           10.455433
std           45.876648            6.745237
min            0.000000            0.000000
25%           10.000000           10.000000
50%           11.000000           10.000000
75%           12.000000           10.000000
max         1776.000000          170.000000

In [32]:
sum(archive.rating_denominator != 10)

23

It's intriguing that a considerable lot of the numbers are multiples of 10. When taking a look at a portion of those tweets we see that there is more than 1 dog in the photograph. Overlooking the retweets and replies we have the accompanying list.

In [33]:
# display tweets that do NOT have denominator of 10,
# and are NOT replies and are NOT retweets
mask = (archive.rating_denominator != 10) & \
            archive.in_reply_to_status_id.isna() & \
            archive.retweeted_status_id.isna()

archive[mask][['text', 'tweet_id', 'rating_numerator', 'rating_denominator']]

,text,tweet_id,rating_numerator,rating_denominator
433,The floofs have been released I repeat the floofs have been released. 84/70 https://t.co/NIYC820tmd,820690176645140481,84,70
516,Meet Sam. She smiles 24/7 &amp; secretly aspires to be a reindeer. \nKeep Sam smiling by clicking and sharing this link:\nhttps://t.co/98tB...,810984652412424192,24,7
902,Why does this never happen at my front door... 165/150 https://t.co/HmwrdfEfUE,758467244762497024,165,150
1068,"After so many requests, this is Bretagne. She was the last surviving 9/11 search dog, and our second ever 14/10. RIP https://t.co/XAVDNDaVgQ",740373189193256964,9,11
1120,Say hello to this unbelievably well behaved squad of doggos. 204/170 would try to pet all at once https://t.co/yGQI3He3xv,731156023742988288,204,170
1165,Happy 4/20 from the squad! 13/10 for all https://t.co/eV1diwds8a,722974582966214656,4,20
1202,This is Bluebert. He just saw that both #FinalFur match ups are split 50/50. Amazed af. 11/10 https://t.co/Kky1DPG4iq,716439118184652801,50,50
1228,Happy Saturday here's 9 puppers on a bench. 99/90 good work everybody https://t.co/mpvaVxKmc1,713900603437621249,99,90
1254,Here's a brigade of puppers. All look very prepared for whatever happens next. 80/80 https://t.co/0eb7R1Om12,710658690886586372,80,80
1274,"From left to right:\nCletus, Jerome, Alejandro, Burp, &amp; Titson\nNone know where camera is. 45/50 would hug all at once https://t.co/sed...",709198395643068416,45,50
1351,Here is a whole flock of puppers. 60/50 I'll take the lot https://t.co/9dpcw6MdWa,704054845121142784,60,50
1433,Happy Wednesday here's a bucket of pups. 44/40 would pet all at once https://t.co/HppvrYuamZ,697463031882764288,44,40
1635,Someone help the girl is being mugged. Several are distracting her while two steal her shoes. Clever puppers 121/110 https://t.co/1zfnTJLt55,684222868335505415,121,110
1662,This is Darrel. He just robbed a 7/11 and is in a high speed police chase. Was just spotted by the helicopter 10/10 https://t.co/7EsP8LmSp5,682962037429899265,7,11
1779,IT'S PUPPERGEDDON. Total of 144/120 ...I think https://t.co/ZanVtAtvIq,677716515794329600,144,120
1843,Here we have an entire platoon of puppers. Total score: 88/80 would pet all at once https://t.co/y93p6FLvVw,675853064436391936,88,80
2335,This is an Albanian 3 1/2 legged Episcopalian. Loves well-polished hardwood flooring. Penis on the collar. 9/10 https://t.co/d9NcXFKwLv,666287406224695296,1,2

In [34]:
archive.rating_numerator.value_counts().sort_index(ascending = False)

1776      1
960       1
666       1
420       2
204       1
182       1
165       1
144       1
143       1
121       1
99        1
88        1
84        1
80        1
75        2
60        1
50        1
45        1
44        1
27        1
26        1
24        1
20        1
17        1
15        2
14       54
13      351
12      558
11      464
10      461
9       158
8       102
7        55
6        32
5        37
4        17
3        19
2         9
1         9
0         2
Name: rating_numerator, dtype: int64

In [35]:
sum(archive.rating_numerator >= 15)

28

In [36]:
# display tweets with numerator >= 15 that DO have denominator of 10,
# and are NOT replies and are NOT retweets
mask = (archive.rating_denominator == 10) & \
            (archive.rating_numerator >= 15) & \
            archive.in_reply_to_status_id.isna() & \
            archive.retweeted_status_id.isna()

archive[mask][['text', 'tweet_id', 'rating_numerator', 'rating_denominator']]

,text,tweet_id,rating_numerator,rating_denominator
695,"This is Logan, the Chow who lived. He solemnly swears he's up to lots of good. H*ckin magical af 9.75/10 https://t.co/yBO5wuqaPS",786709082849828864,75,10
763,This is Sophie. She's a Jubilant Bush Pupper. Super h*ckin rare. Appears at random just to smile at the locals. 11.27/10 would smile back h...,778027034220126208,27,10
979,This is Atticus. He's quite simply America af. 1776/10 https://t.co/GRXwMxLBkh,749981277374128128,1776,10
1712,Here we have uncovered an entire battalion of holiday puppers. Average of 11.26/10 https://t.co/eNm2S6p9BD,680494726643068929,26,10
2074,After so many requests... here you go.\n\nGood dogg. 420/10 https://t.co/yfAAo1gdeY,670842764863651840,420,10

- Here we have 5 tweets (excluding retweets and replies) with denominator = 10 and numerator >= 15. Looking at the text column we see ratings with decimals or huge numbers.

- Since there are so few, and I don't want to impose a rating myself, I'll ignore these tweets and drop them.

In [37]:
# display tweets with numerator = 0 that DO have denominator of 10,
# and are NOT replies and are NOT retweets
mask = (archive.rating_denominator == 10) & \
            (archive.rating_numerator == 0) & \
            archive.in_reply_to_status_id.isna() & \
            archive.retweeted_status_id.isna()

archive[mask][['text', 'tweet_id', 'rating_numerator', 'rating_denominator']]

,text,tweet_id,rating_numerator,rating_denominator
315,When you're so blinded by your systematic plagiarism that you forget what day it is. 0/10 https://t.co/YbEJPkg4Ag,835152434251116546,0,10

__doggo, floofer, pupper, and puppo__

In [38]:
archive['doggo'].value_counts()

None     2259
doggo      97
Name: doggo, dtype: int64

In [39]:
archive['floofer'].value_counts()

None       2346
floofer      10
Name: floofer, dtype: int64

In [40]:
archive['pupper'].value_counts()

None      2099
pupper     257
Name: pupper, dtype: int64

### predictions

In [41]:
predictions.info()
predictions.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 12 columns):
tweet_id    2075 non-null int64
jpg_url     2075 non-null object
img_num     2075 non-null int64
p1          2075 non-null object
p1_conf     2075 non-null float64
p1_dog      2075 non-null bool
p2          2075 non-null object
p2_conf     2075 non-null float64
p2_dog      2075 non-null bool
p3          2075 non-null object
p3_conf     2075 non-null float64
p3_dog      2075 non-null bool
dtypes: bool(3), float64(3), int64(2), object(4)
memory usage: 152.1+ KB

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True

In [42]:
predictions['p1_dog'].value_counts()

True     1532
False     543
Name: p1_dog, dtype: int64

In [43]:
predictions['p2_dog'].value_counts()

True     1553
False     522
Name: p2_dog, dtype: int64

In [44]:
predictions['p3_dog'].value_counts()

True     1499
False     576
Name: p3_dog, dtype: int64

In [45]:
# check out 20 of the entries that don't predict dogs
predictions[~predictions.p1_dog & \
               ~predictions.p2_dog & \
               ~predictions.p3_dog][['tweet_id', 'p1', 'p1_dog',
                                        'p2', 'p2_dog', 'p3', 'p3_dog']].head()

,tweet_id,p1,p1_dog,p2,p2_dog,p3,p3_dog
6,666051853826850816,box_turtle,False,mud_turtle,False,terrapin,False
17,666104133288665088,hen,False,cock,False,partridge,False
18,666268910803644416,desktop_computer,False,desk,False,bookcase,False
21,666293911632134144,three-toed_sloth,False,otter,False,great_grey_owl,False
25,666362758909284353,guinea_pig,False,skunk,False,hamster,False

In [46]:
sum(~predictions.p1_dog & \
    ~predictions.p2_dog & \
    ~predictions.p3_dog)

324

- In each of the prediction columns, there are more than 500 examples where the calculation didn't anticipate a dog breed from the image. Whenever joined, there are 324 situations where there is NO substantial canine breed from any of the three expectations. 

- The best prediction for dog breed could be joined with the twitter archive table; this is basically another variable relating to the dog on which the archive is based.

### json_data

In [47]:
json_data.info()
json_data.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2331 entries, 0 to 2330
Data columns (total 3 columns):
tweet_id          2331 non-null int64
favorite_count    2331 non-null int64
retweet_count     2331 non-null int64
dtypes: int64(3)
memory usage: 54.8 KB

             tweet_id  favorite_count  retweet_count
0  892420643555336193           37068           7917
1  892177421306343426           31900           5883
2  891815181378084864           24012           3884
3  891689557279858688           40398           8066
4  891327558926688256           38618           8751

In [48]:
json_data.describe()

           tweet_id  favorite_count  retweet_count
count  2.331000e+03     2331.000000    2331.000000
mean   7.418941e+17     7734.183183    2788.553411
std    6.822271e+16    12004.788845    4718.577341
min    6.660209e+17        0.000000       1.000000
25%    6.782670e+17     1344.000000     560.500000
50%    7.182469e+17     3367.000000    1302.000000
75%    7.986547e+17     9489.000000    3244.500000
max    8.924206e+17   160170.000000   80086.000000

### Data Inclusion Criteria

We are expected to use the following criteria to select the required data:

- Do not include retweets
- Only tweets that have images


__archive__

- Retweets are included in the dataset
- Replies are included in the dataset
- Erroneous datatypes (tweet_id, in_reply_to_status_id, in_reply_to_user_id, timestamp, retweeted_status_id, retweeted_status_user_id, retweeted_status_timestamp, doggo, floofer, pupper, and puppo columns)
- Missing info in expanded_urls
- Nulls represented as "None" (str) for name, doggo, floofer, pupper, and puppo columns
- Missing counts for doggo, floofer, pupper and puppo
- Missing names identified from text in name e.g. index 1852 - Reggie
- Some names identified are not names
- text column includes both text and short version of link
- Second name missing if two are mentioned, e.g. index 2232 - Bo & Smittens
- Some extracted values for rating_numerator and rating_denominator seem to be in error

__predictions__

- Erroneous datatype (tweet_id)
- The lower number of entries means that some posts don't have images

__json_data__

- Erroneous datatype (tweet_id)
- Retweet and favorite information is not available for all tweets and cannot be retrieved

## Part III. Cleaning the Data

In [49]:
# Make copies to preserve the original datasets
archive_clean = archive.copy()
predictions_clean = predictions.copy()
json_data_clean = json_data.copy()

>There are 181 retweets, and we’re only interested in “original tweets”.<br><br>
> __Define__<br>
We will drop all the rows which contains retweets.

__Code__

In [50]:
# No. of retweets which are needed to be removed
archive_clean['retweeted_status_id'].notnull().sum()

181

In [51]:
archive_clean = archive_clean[archive_clean['retweeted_status_id'].isna()]

__Test__

In [52]:
archive_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2175 entries, 0 to 2355
Data columns (total 17 columns):
tweet_id                      2175 non-null int64
in_reply_to_status_id         78 non-null float64
in_reply_to_user_id           78 non-null float64
timestamp                     2175 non-null object
source                        2175 non-null object
text                          2175 non-null object
retweeted_status_id           0 non-null float64
retweeted_status_user_id      0 non-null float64
retweeted_status_timestamp    0 non-null object
expanded_urls                 2117 non-null object
rating_numerator              2175 non-null int64
rating_denominator            2175 non-null int64
name                          2175 non-null object
doggo                         2175 non-null object
floofer                       2175 non-null object
pupper                        2175 non-null object
puppo                         2175 non-null object
dtypes: float64(4), int64(3), object(10)
memory usage: 305.9+ KB

> There are 78 reply tweets; we’re only interested in “original tweets”.
> We will drop all rows that are replies.

In [53]:
# No. of replies which are needed to be removed
archive_clean['in_reply_to_status_id'].notnull().sum()

78

In [54]:
archive_clean = archive_clean[archive_clean['in_reply_to_status_id'].isna()]

__Test__

In [55]:
archive_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2097 entries, 0 to 2355
Data columns (total 17 columns):
tweet_id                      2097 non-null int64
in_reply_to_status_id         0 non-null float64
in_reply_to_user_id           0 non-null float64
timestamp                     2097 non-null object
source                        2097 non-null object
text                          2097 non-null object
retweeted_status_id           0 non-null float64
retweeted_status_user_id      0 non-null float64
retweeted_status_timestamp    0 non-null object
expanded_urls                 2094 non-null object
rating_numerator              2097 non-null int64
rating_denominator            2097 non-null int64
name                          2097 non-null object
doggo                         2097 non-null object
floofer                       2097 non-null object
pupper                        2097 non-null object
puppo                         2097 non-null object
dtypes: float64(4), int64(3), object(10)
memory usage: 294.9+ KB

> Since we don't want retweets, we can drop all columns related to retweets: ```retweeted_status_id```, ```retweeted_status_user_id```, ```retweeted_status_timestamp```.<br><br>
> __Define__<br>
> All columns related to “replies” will be empty, so we will drop them too.

__Code__

In [56]:
archive_clean = archive_clean.drop(['retweeted_status_id',
                                    'retweeted_status_user_id',
                                    'retweeted_status_timestamp'], axis = 1)

archive_clean = archive_clean.drop(['in_reply_to_status_id',
                                    'in_reply_to_user_id'], axis = 1)

__Test__

In [57]:
list(archive_clean)

['tweet_id',
 'timestamp',
 'source',
 'text',
 'expanded_urls',
 'rating_numerator',
 'rating_denominator',
 'name',
 'doggo',
 'floofer',
 'pupper',
 'puppo']

> __Define__<br>
> The ```timestamp``` column is in string format, it should be datetime data type.

__Code__

In [58]:
archive_clean['timestamp'] = pd.to_datetime(archive_clean.timestamp)
archive_clean['timestamp'] = archive_clean.timestamp.dt.floor('s')

__Test__

In [59]:
archive_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2097 entries, 0 to 2355
Data columns (total 12 columns):
tweet_id              2097 non-null int64
timestamp             2097 non-null datetime64[ns, UTC]
source                2097 non-null object
text                  2097 non-null object
expanded_urls         2094 non-null object
rating_numerator      2097 non-null int64
rating_denominator    2097 non-null int64
name                  2097 non-null object
doggo                 2097 non-null object
floofer               2097 non-null object
pupper                2097 non-null object
puppo                 2097 non-null object
dtypes: datetime64[ns, UTC](1), int64(3), object(8)
memory usage: 213.0+ KB

> __Define__<br>
> We will replace the source string with the display portion of itself, to only display the actual string.

__Code__

In [60]:
archive_clean['source'].value_counts()

<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>     1964
<a href="http://vine.co" rel="nofollow">Vine - Make a Scene</a>                          91
<a href="http://twitter.com" rel="nofollow">Twitter Web Client</a>                       31
<a href="https://about.twitter.com/products/tweetdeck" rel="nofollow">TweetDeck</a>      11
Name: source, dtype: int64

In [61]:
archive_clean['source'] = archive_clean['source'].str.extract('^<a.+>(.+)</a>$')

__Test__

In [62]:
archive_clean['source'].value_counts()

Twitter for iPhone     1964
Vine - Make a Scene      91
Twitter Web Client       31
TweetDeck                11
Name: source, dtype: int64

>__Define__<br>
Some tweets have wrong values extracted for rating; text contains the tweeter's rating.

> I need to fix this manually(no other way!!!)
    <ul>
        <li> 740373189193256964: replace 9/11 with 14/10 </li>
        <li> 716439118184652801: replace 50/50 with 11/10 </li>
        <li> 682962037429899265: replace 7/11 with 10/10 </li>
        <li> 666287406224695296: replace 1/2 with 9/10 </li>
    </ul>
    
__Code__

In [63]:
row = archive_clean.tweet_id == 740373189193256964
archive_clean.loc[row, 'rating_numerator'] = 14
archive_clean.loc[row, 'rating_denominator'] = 10

In [64]:
row = archive_clean.tweet_id == 716439118184652801
archive_clean.loc[row, 'rating_numerator'] = 11
archive_clean.loc[row, 'rating_denominator'] = 10

In [65]:
row = archive_clean.tweet_id == 682962037429899265
archive_clean.loc[row, 'rating_numerator'] = 10
archive_clean.loc[row, 'rating_denominator'] = 10

In [66]:
row = archive_clean.tweet_id == 666287406224695296
archive_clean.loc[row, 'rating_numerator'] = 9
archive_clean.loc[row, 'rating_denominator'] = 10

__Test__

In [67]:
cols = ['tweet_id', 'text', 'rating_numerator', 'rating_denominator']
archive_clean[(archive_clean['tweet_id'] == 740373189193256964) | \
              (archive_clean['tweet_id'] == 716439118184652801) | \
              (archive_clean['tweet_id'] == 682962037429899265) | \
              (archive_clean['tweet_id']== 666287406224695296) ][cols]

,tweet_id,text,rating_numerator,rating_denominator
1068,740373189193256964,"After so many requests, this is Bretagne. She was the last surviving 9/11 search dog, and our second ever 14/10. RIP https://t.co/XAVDNDaVgQ",14,10
1202,716439118184652801,This is Bluebert. He just saw that both #FinalFur match ups are split 50/50. Amazed af. 11/10 https://t.co/Kky1DPG4iq,11,10
1662,682962037429899265,This is Darrel. He just robbed a 7/11 and is in a high speed police chase. Was just spotted by the helicopter 10/10 https://t.co/7EsP8LmSp5,10,10
2335,666287406224695296,This is an Albanian 3 1/2 legged Episcopalian. Loves well-polished hardwood flooring. Penis on the collar. 9/10 https://t.co/d9NcXFKwLv,9,10

> Some tweets with rating_denominator NOT equal to 10; multiple dogs or no valid rating. <br><br>
> __Define__<br>
Drop the remaining tweets with `rating_denominator values` that are not equal to 10.

__Code__

In [68]:
# display denominators
archive_clean['rating_denominator'].value_counts().sort_index(ascending = False)

170       1
150       1
120       1
110       1
90        1
80        2
70        1
50        2
40        1
20        1
10     2084
7         1
Name: rating_denominator, dtype: int64

In [69]:
archive_clean = archive_clean[archive_clean['rating_denominator'] == 10]

__Test__

In [70]:
# check the values in the column - should only be "10"
archive_clean.rating_denominator.value_counts().sort_index(ascending = False)

10    2084
Name: rating_denominator, dtype: int64

> Now there are tweets with rating_numerator >= 15, which are huge.<br><br>
> __Define__<br>
> Drop tweets that have ```rating_numerator``` >= 15.

__Code__

In [71]:
# display numerators greater than 15
row = archive_clean.rating_numerator >= 15
archive_clean[row]['rating_numerator'].value_counts().sort_index(ascending = False)

1776    1
420     1
75      1
27      1
26      1
Name: rating_numerator, dtype: int64

In [72]:
archive_clean = archive_clean[archive_clean['rating_numerator'] < 15]

__Test__

In [73]:
# display ALL numerators
archive_clean['rating_numerator'].value_counts().sort_index(ascending = False)

14     39
13    287
12    486
11    414
10    437
9     153
8      98
7      51
6      32
5      34
4      15
3      19
2       9
1       4
0       1
Name: rating_numerator, dtype: int64

> Tweets with missing data in expanded_urls.<br><br>
> __Define__<br>
> So, we drop tweets with missing data.

__Code__

In [74]:
archive_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2079 entries, 0 to 2355
Data columns (total 12 columns):
tweet_id              2079 non-null int64
timestamp             2079 non-null datetime64[ns, UTC]
source                2079 non-null object
text                  2079 non-null object
expanded_urls         2076 non-null object
rating_numerator      2079 non-null int64
rating_denominator    2079 non-null int64
name                  2079 non-null object
doggo                 2079 non-null object
floofer               2079 non-null object
pupper                2079 non-null object
puppo                 2079 non-null object
dtypes: datetime64[ns, UTC](1), int64(3), object(8)
memory usage: 211.1+ KB

In [75]:
archive_clean = archive_clean[archive_clean['expanded_urls'].notnull()]

<blockquote>
There are four areas of missing data identified:
<br>
<ol>
    <li> Missing info in expanded_urls </li>
    <li> Missing counts for doggo, floofer, pupper and puppo </li>
    <li> Missing names identified from text in name e.g. index 1852 - Reggie </li>
    <li> Second name missing if two are mentioned, e.g. index 2232 - Bo & Smittens </li>
</ol>
    
**Define** <br>
Missing counts for ```doggo```, ```floofer```, ```pupper``` and ```puppo``` in archive
</blockquote>

__Code__

In [76]:
dog_types = list(archive_clean.iloc[:,-4:])
dog_types

['doggo', 'floofer', 'pupper', 'puppo']

In [77]:
def find_dog_type(df, dog_type):
    dog_list = []
    for row in df['text']:
        if dog_type in row:
            dog_list.append(dog_type)
        else:
            dog_list.append(np.NaN)
    return dog_list

In [78]:
for dog_type in dog_types:
    archive_clean[dog_type] = find_dog_type(archive_clean, dog_type)

In [79]:
# Check non-null data counts for columns
archive_clean[dog_types].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2076 entries, 0 to 2355
Data columns (total 4 columns):
doggo      83 non-null object
floofer    4 non-null object
pupper     238 non-null object
puppo      29 non-null object
dtypes: object(4)
memory usage: 81.1+ KB

In [80]:
archive_clean['dog_type'] = archive_clean['puppo'].fillna(archive_clean['pupper'].fillna(archive_clean['floofer'].fillna(archive_clean['doggo'])))

In [81]:
archive_clean.drop(['doggo', 'floofer', 'pupper', 'puppo'], axis=1, inplace=True)
archive_clean['dog_type'].fillna('None',inplace=True)

__Test__

In [82]:
archive_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2076 entries, 0 to 2355
Data columns (total 9 columns):
tweet_id              2076 non-null int64
timestamp             2076 non-null datetime64[ns, UTC]
source                2076 non-null object
text                  2076 non-null object
expanded_urls         2076 non-null object
rating_numerator      2076 non-null int64
rating_denominator    2076 non-null int64
name                  2076 non-null object
dog_type              2076 non-null object
dtypes: datetime64[ns, UTC](1), int64(3), object(5)
memory usage: 162.2+ KB

In [83]:
# Check dog_type counts
archive_clean['dog_type'].value_counts()

None       1731
pupper      238
doggo        74
puppo        29
floofer       4
Name: dog_type, dtype: int64

In [84]:
# Confirm column drop
archive_clean.columns

Index(['tweet_id', 'timestamp', 'source', 'text', 'expanded_urls',
       'rating_numerator', 'rating_denominator', 'name', 'dog_type'],
      dtype='object')


__Multiple columns containing the same type of data in the ```predictions```__

We will change column names for ease to use and understand the role of each column.

In [85]:
archive_clean.head()

,tweet_id,timestamp,source,text,expanded_urls,rating_numerator,rating_denominator,name,dog_type
0,892420643555336193,2017-08-01 16:23:56+00:00,Twitter for iPhone,This is Phineas. He's a mystical boy. Only ever appears in the hole of a donut. 13/10 https://t.co/MgUWQ76dJU,https://twitter.com/dog_rates/status/892420643555336193/photo/1,13,10,Phineas,None
1,892177421306343426,2017-08-01 00:17:27+00:00,Twitter for iPhone,"This is Tilly. She's just checking pup on you. Hopes you're doing ok. If not, she's available for pats, snugs, boops, the whole bit. 13/10 ...",https://twitter.com/dog_rates/status/892177421306343426/photo/1,13,10,Tilly,None
2,891815181378084864,2017-07-31 00:18:03+00:00,Twitter for iPhone,This is Archie. He is a rare Norwegian Pouncing Corgo. Lives in the tall grass. You never know when one may strike. 12/10 https://t.co/wUnZ...,https://twitter.com/dog_rates/status/891815181378084864/photo/1,12,10,Archie,None
3,891689557279858688,2017-07-30 15:58:51+00:00,Twitter for iPhone,This is Darla. She commenced a snooze mid meal. 13/10 happens to the best of us https://t.co/tD36da7qLQ,https://twitter.com/dog_rates/status/891689557279858688/photo/1,13,10,Darla,None
4,891327558926688256,2017-07-29 16:00:24+00:00,Twitter for iPhone,"This is Franklin. He would like you to stop calling him ""cute."" He is a very fierce shark and should be respected as such. 12/10 #BarkWeek ...","https://twitter.com/dog_rates/status/891327558926688256/photo/1,https://twitter.com/dog_rates/status/891327558926688256/photo/1",12,10,Franklin,None

### predictions

In [86]:
predictions_clean.info()
predictions_clean.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 12 columns):
tweet_id    2075 non-null int64
jpg_url     2075 non-null object
img_num     2075 non-null int64
p1          2075 non-null object
p1_conf     2075 non-null float64
p1_dog      2075 non-null bool
p2          2075 non-null object
p2_conf     2075 non-null float64
p2_dog      2075 non-null bool
p3          2075 non-null object
p3_conf     2075 non-null float64
p3_dog      2075 non-null bool
dtypes: bool(3), float64(3), int64(2), object(4)
memory usage: 152.1+ KB

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True

> __Define__<br>
Change the column names

__Code__

In [87]:
predictions_clean.rename(columns={'jpg_url': 'image_link', 
                                  'p1':'first_prediction', 
                                  'p1_conf': 'first_confidence', 
                                  'p1_dog': 'first_dog',
                                  'p2': 'second_prediction', 
                                  'p2_conf': 'second_confidence', 
                                  'p2_dog': 'second_dog',
                                  'p3': 'third_prediction', 
                                  'p3_conf': 'third_confidence', 
                                  'p3_dog': 'third_dog'}, inplace = True)

__Test__

In [88]:
predictions_clean.info()
predictions_clean.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 12 columns):
tweet_id             2075 non-null int64
image_link           2075 non-null object
img_num              2075 non-null int64
first_prediction     2075 non-null object
first_confidence     2075 non-null float64
first_dog            2075 non-null bool
second_prediction    2075 non-null object
second_confidence    2075 non-null float64
second_dog           2075 non-null bool
third_prediction     2075 non-null object
third_confidence     2075 non-null float64
third_dog            2075 non-null bool
dtypes: bool(3), float64(3), int64(2), object(4)
memory usage: 152.1+ KB

,tweet_id,image_link,img_num,first_prediction,first_confidence,first_dog,second_prediction,second_confidence,second_dog,third_prediction,third_confidence,third_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True

> __Define__<br>
- Capitalize the first letter of each dog race field
- Replace underscores in string with whitespace characters

__Code__

In [89]:
# Capitalize the first letter of each dog race field
predictions_clean['first_prediction'] = predictions_clean['first_prediction'].str.title()
predictions_clean['second_prediction'] = predictions_clean['second_prediction'].str.title()
predictions_clean['third_prediction'] = predictions_clean['third_prediction'].str.title()

In [90]:
# Replace underscores in string with whitespace characters
predictions_clean['first_prediction'] = predictions_clean['first_prediction'].str.replace('_', ' ')
predictions_clean['second_prediction'] = predictions_clean['second_prediction'].str.replace('_', ' ')
predictions_clean['third_prediction'] = predictions_clean['third_prediction'].str.replace('_', ' ')

__Test__

In [91]:
predictions_clean.head()

,tweet_id,image_link,img_num,first_prediction,first_confidence,first_dog,second_prediction,second_confidence,second_dog,third_prediction,third_confidence,third_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh Springer Spaniel,0.465074,True,Collie,0.156665,True,Shetland Sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,Redbone,0.506826,True,Miniature Pinscher,0.074192,True,Rhodesian Ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German Shepherd,0.596461,True,Malinois,0.138584,True,Bloodhound,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian Ridgeback,0.408143,True,Redbone,0.360687,True,Miniature Pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,Miniature Pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True

> __Define__<br>
- Create 2 empty lists to save our choice for each row in the dataset named `breed` and `confidence`

__Code__

In [92]:
# create 2 empty lists to save our choice for each row in the dataset
breed = []
confidence = []

# function that iterates through prediction columns to find the best prediction which is a breed of dog.
def breed_confidence(row):
    if row['first_dog'] == True:
        breed.append(row['first_prediction'])
        confidence.append(row['first_confidence'])
    elif row['second_dog'] == True:
        breed.append(row['second_prediction'])
        confidence.append(row['second_confidence'])
    elif row['third_dog'] == True:
        breed.append(row['third_prediction'])
        confidence.append(row['third_confidence'])
    else:
        breed.append('Unknown')
        confidence.append(0)
        
# call function using pandas apply by columns
predictions_clean.apply(breed_confidence, axis=1)

# add lists created to master dataframe
predictions_clean['breed'] = breed
predictions_clean['confidence'] = confidence

__Test__

In [93]:
predictions_clean.head()

,tweet_id,image_link,img_num,first_prediction,first_confidence,first_dog,second_prediction,second_confidence,second_dog,third_prediction,third_confidence,third_dog,breed,confidence
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh Springer Spaniel,0.465074,True,Collie,0.156665,True,Shetland Sheepdog,0.061428,True,Welsh Springer Spaniel,0.465074
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,Redbone,0.506826,True,Miniature Pinscher,0.074192,True,Rhodesian Ridgeback,0.072010,True,Redbone,0.506826
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German Shepherd,0.596461,True,Malinois,0.138584,True,Bloodhound,0.116197,True,German Shepherd,0.596461
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian Ridgeback,0.408143,True,Redbone,0.360687,True,Miniature Pinscher,0.222752,True,Rhodesian Ridgeback,0.408143
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,Miniature Pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True,Miniature Pinscher,0.560311

> __Define__<br>
- Drop prediction probability and other columns

__Code__

In [94]:
# Drop predictions and prediction probability columns
predictions_clean = predictions_clean.drop(['img_num','first_prediction','first_confidence','first_dog',
                                            'second_prediction','second_confidence','second_dog',
                                            'third_prediction', 'third_confidence', 'third_dog'], axis=1)

__Test__

In [95]:
predictions_clean.info()
predictions_clean.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 4 columns):
tweet_id      2075 non-null int64
image_link    2075 non-null object
breed         2075 non-null object
confidence    2075 non-null float64
dtypes: float64(1), int64(1), object(2)
memory usage: 65.0+ KB

,tweet_id,image_link,breed,confidence
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,Welsh Springer Spaniel,0.465074
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,Redbone,0.506826
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,German Shepherd,0.596461
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,Rhodesian Ridgeback,0.408143
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,Miniature Pinscher,0.560311

### json_data

In [96]:
json_data_clean.info()
json_data_clean.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2331 entries, 0 to 2330
Data columns (total 3 columns):
tweet_id          2331 non-null int64
favorite_count    2331 non-null int64
retweet_count     2331 non-null int64
dtypes: int64(3)
memory usage: 54.8 KB

             tweet_id  favorite_count  retweet_count
0  892420643555336193           37068           7917
1  892177421306343426           31900           5883
2  891815181378084864           24012           3884
3  891689557279858688           40398           8066
4  891327558926688256           38618           8751

In [97]:
json_data_clean.describe()

           tweet_id  favorite_count  retweet_count
count  2.331000e+03     2331.000000    2331.000000
mean   7.418941e+17     7734.183183    2788.553411
std    6.822271e+16    12004.788845    4718.577341
min    6.660209e+17        0.000000       1.000000
25%    6.782670e+17     1344.000000     560.500000
50%    7.182469e+17     3367.000000    1302.000000
75%    7.986547e+17     9489.000000    3244.500000
max    8.924206e+17   160170.000000   80086.000000

> __The JSON-extracted dataset containing retweet counts and favorite counts for different dog IDs, as well as the image predictions for each dog tweet, are both representing variables in separate dataframes for the same observational object as the Twitter master dataset, namely the dog tweets__<br><br>
__Define__<br>
We can have all the representational data about the dog tweet entries in one place, we will join together the `archive_clean` with the `predictions_clean` and the `json_data_clean` datasets.

__Code__

In [98]:
# Merge dog_tweets and image_predictions on tweet ID
archive_clean = pd.merge(archive_clean, predictions_clean, how = 'inner', on = 'tweet_id')
# Merge the newly-updated dog_tweets and tweet_data_json on tweet ID
archive_clean = pd.merge(archive_clean, json_data_clean, how = 'inner', on = 'tweet_id')

__Test__

In [99]:
archive_clean.info()
archive_clean.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1946 entries, 0 to 1945
Data columns (total 14 columns):
tweet_id              1946 non-null int64
timestamp             1946 non-null datetime64[ns, UTC]
source                1946 non-null object
text                  1946 non-null object
expanded_urls         1946 non-null object
rating_numerator      1946 non-null int64
rating_denominator    1946 non-null int64
name                  1946 non-null object
dog_type              1946 non-null object
image_link            1946 non-null object
breed                 1946 non-null object
confidence            1946 non-null float64
favorite_count        1946 non-null int64
retweet_count         1946 non-null int64
dtypes: datetime64[ns, UTC](1), float64(1), int64(5), object(7)
memory usage: 228.0+ KB

,tweet_id,timestamp,source,text,expanded_urls,rating_numerator,rating_denominator,name,dog_type,image_link,breed,confidence,favorite_count,retweet_count
0,892420643555336193,2017-08-01 16:23:56+00:00,Twitter for iPhone,This is Phineas. He's a mystical boy. Only ever appears in the hole of a donut. 13/10 https://t.co/MgUWQ76dJU,https://twitter.com/dog_rates/status/892420643555336193/photo/1,13,10,Phineas,None,https://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg,Unknown,0.000000,37068,7917
1,892177421306343426,2017-08-01 00:17:27+00:00,Twitter for iPhone,"This is Tilly. She's just checking pup on you. Hopes you're doing ok. If not, she's available for pats, snugs, boops, the whole bit. 13/10 ...",https://twitter.com/dog_rates/status/892177421306343426/photo/1,13,10,Tilly,None,https://pbs.twimg.com/media/DGGmoV4XsAAUL6n.jpg,Chihuahua,0.323581,31900,5883
2,891815181378084864,2017-07-31 00:18:03+00:00,Twitter for iPhone,This is Archie. He is a rare Norwegian Pouncing Corgo. Lives in the tall grass. You never know when one may strike. 12/10 https://t.co/wUnZ...,https://twitter.com/dog_rates/status/891815181378084864/photo/1,12,10,Archie,None,https://pbs.twimg.com/media/DGBdLU1WsAANxJ9.jpg,Chihuahua,0.716012,24012,3884
3,891689557279858688,2017-07-30 15:58:51+00:00,Twitter for iPhone,This is Darla. She commenced a snooze mid meal. 13/10 happens to the best of us https://t.co/tD36da7qLQ,https://twitter.com/dog_rates/status/891689557279858688/photo/1,13,10,Darla,None,https://pbs.twimg.com/media/DF_q7IAWsAEuuN8.jpg,Labrador Retriever,0.168086,40398,8066
4,891327558926688256,2017-07-29 16:00:24+00:00,Twitter for iPhone,"This is Franklin. He would like you to stop calling him ""cute."" He is a very fierce shark and should be respected as such. 12/10 #BarkWeek ...","https://twitter.com/dog_rates/status/891327558926688256/photo/1,https://twitter.com/dog_rates/status/891327558926688256/photo/1",12,10,Franklin,None,https://pbs.twimg.com/media/DF6hr6BUMAAzZgT.jpg,Basset,0.555712,38618,8751

## Part IV. Storing the Data

Since we have completed the process of wrangling our datasets, it is good practice to save our modified results for simpler reloading and processing of its contents. It helps machines performing the analysis and maintaining a cleaner dataset rather than redoing the whole computational procedure to clean the dataset again.

In [100]:
archive_clean.to_csv('twitter_archive_clean.csv', encoding='utf-8')

In [101]:
archive_clean.head()

,tweet_id,timestamp,source,text,expanded_urls,rating_numerator,rating_denominator,name,dog_type,image_link,breed,confidence,favorite_count,retweet_count
0,892420643555336193,2017-08-01 16:23:56+00:00,Twitter for iPhone,This is Phineas. He's a mystical boy. Only ever appears in the hole of a donut. 13/10 https://t.co/MgUWQ76dJU,https://twitter.com/dog_rates/status/892420643555336193/photo/1,13,10,Phineas,None,https://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg,Unknown,0.000000,37068,7917
1,892177421306343426,2017-08-01 00:17:27+00:00,Twitter for iPhone,"This is Tilly. She's just checking pup on you. Hopes you're doing ok. If not, she's available for pats, snugs, boops, the whole bit. 13/10 ...",https://twitter.com/dog_rates/status/892177421306343426/photo/1,13,10,Tilly,None,https://pbs.twimg.com/media/DGGmoV4XsAAUL6n.jpg,Chihuahua,0.323581,31900,5883
2,891815181378084864,2017-07-31 00:18:03+00:00,Twitter for iPhone,This is Archie. He is a rare Norwegian Pouncing Corgo. Lives in the tall grass. You never know when one may strike. 12/10 https://t.co/wUnZ...,https://twitter.com/dog_rates/status/891815181378084864/photo/1,12,10,Archie,None,https://pbs.twimg.com/media/DGBdLU1WsAANxJ9.jpg,Chihuahua,0.716012,24012,3884
3,891689557279858688,2017-07-30 15:58:51+00:00,Twitter for iPhone,This is Darla. She commenced a snooze mid meal. 13/10 happens to the best of us https://t.co/tD36da7qLQ,https://twitter.com/dog_rates/status/891689557279858688/photo/1,13,10,Darla,None,https://pbs.twimg.com/media/DF_q7IAWsAEuuN8.jpg,Labrador Retriever,0.168086,40398,8066
4,891327558926688256,2017-07-29 16:00:24+00:00,Twitter for iPhone,"This is Franklin. He would like you to stop calling him ""cute."" He is a very fierce shark and should be respected as such. 12/10 #BarkWeek ...","https://twitter.com/dog_rates/status/891327558926688256/photo/1,https://twitter.com/dog_rates/status/891327558926688256/photo/1",12,10,Franklin,None,https://pbs.twimg.com/media/DF6hr6BUMAAzZgT.jpg,Basset,0.555712,38618,8751